# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Dependency directories
node_modules

# dotenv environment variable files
.env
*.local

# Build files and caches
/.cache
/.astro
/dist
/build
/public/build
/src/generated/route
/e2e/.auth