---
import Layout from '@/layouts/Layout.astro';
import formatDate from '@/utils/formatDate';
import { getAllPost } from '@/utils/data';

const posts = await getAllPost();

export const prerender = true;
---

<Layout title='All Posts'>
	<main>
		<article class='flex flex-col space-y-4'>
			{
				posts.length > 0 ? (
					posts.map(post => (
						<a class='group relative flex flex-col md:flex-row justify-between md:items-center transition-all hover:text-neutral-100' href={`/posts/${post.slug}`}>
							<h2 class='text-lg ml-4'>{post.data.title}</h2>
							<span class='ml-4'>{formatDate(post.data.publishedAt)}</span>
						</a>
					))
				) : (
					<p>Soon, stay connected 👀...</p>
				)
			}
		</article>
	</main>
</Layout>

<style>
	article > a::before {
		position: absolute;
		left: 0;
		top: 0.25rem;
		content: '»';
		color: rgb(var(--text-neutral-500));
	}
</style>
