---
import Html from '../components/BaseHtml.astro';
import Footer from '../components/Footer.astro';
---

<Html class='max-w-2xl min-h-screen mx-auto px-6 sm:px-8 grid text-center'>
	<main class='pt-16'>
		<h1 class='text-xl text-white'>Uh-Oh! Not Found</h1>
		<p class='opacity-65'>You just hit a route that doesn&#39;t exist... the sadness.</p>
	</main>

	<Footer />

	<style>
		body {
			grid-template-areas: 'main' 'footer';
			grid-template-rows: minmax(0, 1fr) 3rem;
			grid-template-columns: minmax(0, 1fr);
		}

		main {
			grid-area: main;
		}
		footer {
			grid-area: footer;
		}
	</style>
</Html>
