---
layout: post
title: Menulis ulang situs pribadi
date: 2020-09-09
tags: ['random']
description: Cerita sedikit kenapa memutuskan buat menulis ulang situs pribadi saya ke Sapper
---

Awalnya situs pribadi saya di buat dengan bantuan [Gatsby](https://www.gatsbyjs.org/), karena di Gatsby ada *plug-in* yang cukup bagus yaitu [gatsby-image](https://www.gatsbyjs.com/plugins/gatsby-image/) yang mana dia mengoptimalisasi semua gambar yang ada di situs kita. Tapi beberapa waktu lalu [lighthouse](https://developers.google.com/web/tools/lighthouse) menambahkan sesuatu dan hasilnya adalah pas jalanin lighthouse dan liat hasilnya lighthouse-nya, semua situs yang pake Gatsby performanya jadi jelek bangeettt, sampe merah malahan.

Dan ini kan *static site generator* (SSG) yang mana hasilnya *file* statis, menurut saya kebangetan banget dah, udah SSG terus situsnya sederhana cuman blog gitu doang dapet skor di lighthouse-nya jelek.

Akhirnya cari-cari alternatifnya, ketemu [Gridsome](https://gridsome.org/) (sebenernya udah tau dari lama sih hehe), tapi dipikir-pikir lagi mendingan situs ini buat uji coba segala macem kek API terbaru dan sebagainnya. Dan karena saya ga mau cape, ngebuat kerangka kerja sendiri akhirnya pake [Sapper](https://sapper.svelte.dev/) karena di Sapper harus buat apa-apa sendiri, karena komunitasnya masih kecil jadinya belum banyak *plug-in* yang bertebaran.

Jadi situs ini sekarang ditenagai oleh Sapper dan juga dengan bantuan dari beberapa *plug-in*, kaya:

- [Tailwind CSS](https://tailwindcss.com/) - ini biar gampang *styling*-nya.
- [MDsveX](https://mdsvex.com/) - kalo ini biar bisa masukin komponen Svelte di berkas [Markdown](https://en.wikipedia.org/wiki/Markdown) dan jadinya bisa pake svelte-image deh.
- [svelte-image](https://github.com/matyunya/svelte-image) - yang terakhir ini buat mengoptimalisasi gambar, fungsinya sama kaya gatsby-image tapi ini buat Svelte.

Kalo penasaran sama kodenya gimana, kamu bisa cek di github saya di [repo iamyuu](https://github.com/iamyuu/iamyuu), insyaAllah nanti saya bakal tulis juga gimana cara membuat blog dengan bantuan Sapper.
