---
title: 'Tentang saya'
---

## {title}

- 🤝 Saya Muhammad Yusuf
- 🏫 Sedang belajar sistem informasi di [Binus](https://onlinelearning.binus.ac.id)
- 🏢 Bekerja untuk [Achiko](https://www.achiko.com)
- 👯 Saya ingin berkolaborasi dalam proyek web
- ⚙️ Tumpukan teknologi saya (saat ini) React, Nest, TypeScript, GraphQL, PostgreSQL
- 🌱 Saya sedang mempelajari desain web, accessibility (a11y), TDD, dan lainnya ...
- 📫 Hubungi saya [Twitter](https://twitter.com/iamyuu027), [Facebook](https://www.facebook.com/iamyuu027), atau [Telegram](https://telegram.me/iamyuu)
- ⚡️ Fakta menyenangkan: ketika sebagian besar developer menyukai kopi ... saya lebih suka teh 🍵
