---
const currentYear = new Date().getFullYear();
const repoUrl = 'https://github.com/iamyuu/iamyuu/tree/main/apps/iamyuu.dev';
---

<footer class='text-center text-sm'>
	&copy; <time datetime={currentYear.toString()}>{currentYear}</time> Muhammad Yusuf. Website built using Astro & UnoCSS
	<small>(<a class='hover:(underline underline-offset-4 decoration-gray-500)' href={repoUrl}>view source</a>)</small>.
</footer>
